<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <link href="/static/css/styles.css" rel="stylesheet">

        <title>Mainpage</title>

        </head>

        <body>
            <h1 style="text-align:center; color:red; font-size:50px">IELTypeS</h1>
            <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="true" href="/">TOP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/guide">GUIDE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/practice">PRACTICE</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/logout">LOGOUT</a>
                      </li>
                  </ul>
                </div>
            <h2 style:text-align:center>What's IELTypeS?</h2>
            IELTypeSは、国際的な英語検定であるIELTS（アイエルツ）で高得点を取得するための対策サイトです。<br>
            皆さんの留学や海外での就職・移住が実現できるよう、サポートいたします。
            <br>
            <br>
            <h2 style:text-align:center>How to Use</h2>
            画面左上のPRACTICEを選択して、タイピング練習を始めることができます!<br>
            対策できる問題は<br>
            <ul>
              <li>サンプルエッセイ</li>
              <li>頻出単語</li>
              <li>イディオム</li>
            </ul>
            タイピング画面でできること
            <ul>
              <li>英単語だけでなく、それぞれ英単語読み上げ機能と、日本語の意味が表示されます。</li>
              <li>Time（時間制限）</li>
              <li>Correct（正しく打ち込んだ文字の数）</li>
              <li>Miss（間違って打ち込んだ文字の数）</li>
            </ul>
      </body>
    </html>