<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <link href="/static/css/styles.css" rel="stylesheet">

        <title>Mainpage</title>
    </head>

    <body>
    <h1 style="text-align:center; color:red; font-size:50px">IELTypeS</h1>
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/">TOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guide">GUIDE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="/practice">PRACTICE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">QUICKTEST</a>
              </li>
          </ul>
        </div>
    </nav>


  <!-- Cards -->
  <div id="cards" class="row row-cols-1 row-cols-md-2 g-4">

      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">選択式問題</div>
        <div class="card-body text-primary">
          <h5 class="card-title">副詞</h5>
          <p class="card-text">補足文章</p>
          <p>TRY!</p>
        </div>
      </div>

      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">穴埋め問題</div>
        <div class="card-body text-danger">
          <h5 class="card-title">接続詞</h5>
          <p class="card-text">補足文章</p>
          <p>TRY!</p>
        </div>
      </div>

      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">タイピング式問題</div>
        <div class="card-body text-primary">
          <button type="button" class="btn btn-outline-primary"><a href="/idiom" class="stretched-link"></a>イディオム</button>
          <p class="card-text">補足文章</p>
        </div>
      </div>

      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">タイピング式問題</div>
        <div class="card-body text-success">
          <h5 class="card-title">頻出単語</h5>
          <p class="card-text">補足文章</p>
          <p>TRY!</p>
        </div>
      </div>

      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">タイピング式問題</div>
        <div class="card-body text-primary">
          <h5 class="card-title">間違えやすい単語</h5>
          <p class="card-text">補足文章</p>
          <p>TRY!</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">タイピング式問題</div>
        <div class="card-body">
          <h5 class="card-title">サンプルエッセイ</h5>
          <p class="card-text">頻出の例文のタイピング練習ができます</p>
          <p>TRY!</p>
        </div>
      </div>
  </div>
</body>
</html>